<template>
    <div class="header">

    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="less" scoped>
.header {
    height: 187px;
    background-color: #dedfe0;
}
</style>
