<template>
  <div>
    <Header></Header>

    <div class="container">
      <div class="sidebar">
        <div class="filter-container">
          <p class="filter-title">City</p>
          <div class="select-container">
            <select v-model="selected_city" @change="ChangeCity()">
              <option v-for="item in cities" :key="item.id" :value="item.id">{{ item.name }}</option>
            </select>
          </div>
        </div>
        <div class="filter-container">
          <p class="filter-title">Categories</p>
          <div class="categories-container">
            <label class="checkbox" v-for="item in categories" :key="item.id">
              <input type="checkbox" v-model="item.checked" :checked="item.checked" @change="ChangeCategory(item)">
              <span class="checkbox-indicator"></span>
              <span class="checkbox-title">{{ item.name }}</span>
              <span class="bage">({{ item.count }})</span>
            </label>
          </div>
        </div>

        <div class="filter-container price">
          <p class="filter-title">Price</p>
          <div class="slider-container">
            <vue-slider v-model="slider_values" :min="0" :max="250" :tooltip="false" 
              :bg-style="sliderBgStyle" :process-style="sliderProcessStyle" :slider-style="sliderStyle"></vue-slider>

          </div>
          <div class="price-bottom-data">
            <span class="price-data">${{ slider_values[0] }} - ${{ slider_values[1] }}</span>
            <input type="button" value="Filter" class="filter-btn">
          </div>
        </div>
      </div>

      <div class="content">
        <div class="news" v-for="item in news_list" :key="item.id" :value="item.id">
          <div class="news-top-block">
            <img src="~/assets/news_photo.png" alt="" class="news-photo">
            <p class="news-location">{{ item.city_data.name }}</p>
          </div>
          <div class="news-content-block">
            <p class="news-title">{{ item.name }}</p>
          </div>
          <div class="news-bottom-block">
            <span class="news-categoty">{{ item.category_data.name }}</span>
            <span class="news-price">${{ item.price }}</span>
          </div>
        </div>
      </div>
    </div>

    <Footer></Footer>
  </div>
</template>

<script>
import Header from "~/components/Header.vue";
import Footer from "~/components/Footer.vue";
import vueSlider from "vue-slider-component";
import { mapState } from 'vuex';

export default {
  components: {
    Header,
    Footer,
    vueSlider
  },
  data() {
    return {
      selected_city: "",
      news_list: [],
      slider_values: [0, 250],
      sliderBgStyle: {
        height: "4px",
        backgroundColor: "#d6d9e1"
      },
      sliderProcessStyle: {
        height: "4px",
        backgroundColor: "#1cb8ff"
      },
      sliderStyle: [
        {
          border: "2px solid #1cb8ff",
          boxShadow: "none",
          backgroundColor: "#fff"
        },
        {
          border: "2px solid #1cb8ff",
          boxShadow: "none",
          backgroundColor: "#fff"
        }
      ]
    };
  },
  computed: {
    ...mapState('city', {
      cities: 'list',
      city_selected: 'selected',
    }),
    ...mapState('category',{
      categories: 'list',
    }),
    ...mapState('news',{
      news: 'list',
    }),
  },
  watch: {
    city_selected: {
      handler: 'updateCity',
      immediate: true
    },
    slider_values: "loadNews"
  },
  methods: {
    ChangeCity() {
      this.$store.commit("city/updateCity", this.selected_city);
      this.loadNews();

    },
    ChangeCategory(category) {
      this.$store.commit("category/updateCategory", category);
      this.loadNews();
    },
    updateCity() {
      if (typeof this.city_selected == "object") {
        this.selected_city = this.city_selected.id;
      } else {
        this.selected_city = this.city_selected;
      }
    },
    loadNews() {
      this.news_list = [];
      let sorted_news = [];
      let selected_categories = [];

      this.categories.forEach(el => {
        if (el.checked) selected_categories.push(el.id);
      });

      this.news.forEach(n => {
        let can_add = false;
        if (n.city === this.selected_city || this.selected_city === -1) {
          if(selected_categories.length > 0) {
            selected_categories.forEach(c => {
              if(n.category == c)
                can_add = true;
            });
          }
          else {
            can_add = true;
          }
        }

        if(can_add && n.price >= this.slider_values[0] && n.price <= this.slider_values[1]) {
          sorted_news.push(n);
        }
      });

      sorted_news.forEach(element => {
        let category = this.categories.find(el => {
          if (el.id == element.category) {
            return el;
          }
        });

        let city = this.cities.find(el => {
          if (el.id == element.city) {
            return el;
          }
        });

        let news_item = Object.assign(element, {
          category_data: category,
          city_data: city
        });

        this.news_list.push(news_item);
      });

      this.countNews();
    },
    countNews() {
      this.categories.forEach(category => {
        let count = 0;

        this.news_list.forEach(item => {
          if(item.category == category.id) {
            count++;
          }
        })

        category.count = count;
      });
    }
  }
};
</script>

<style lang="less">
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

@raleway_font: "Raleway", sans-serif;

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  padding: 50px 98px;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 240px;
  margin-top: -4px;

  .filter-container {
    margin-bottom: 56px;

    &.price {
      .filter-title {
        margin-bottom: 22px;
      }
    }

    .filter-title {
      color: #33363e;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    .slider-container {
      margin-bottom: 17px;
    }

    .price-bottom-data {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price-data {
        color: #33363e;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
      }

      .filter-btn {
        outline: none;
        border-radius: 0;
        width: 100px;
        height: 35px;
        background-color: #1cb8ff;
        color: #ffffff;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
      }
    }

    .select-container {
      position: relative;
      display: flex;

      &:after {
        content: "";
        position: absolute;
        top: 18px;
        right: 17px;
        width: 10px;
        height: 6px;
        background-size: cover;
        background-image: url("~/assets/icn_arrow_down.png");
        z-index: -1;
      }

      select {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 16px;
        text-overflow: "";
        height: 42px;
        border: 1px solid #dee0e1;
        background-color: transparent;
        border-radius: 0px;
        color: #4c505b;
        font-family: @raleway_font;
        font-size: 15px;
        font-weight: 400;
        outline: none;
      }
    }

    .categories-container {
      display: flex;
      flex-direction: column;

      .checkbox {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        cursor: pointer;

        &:last-child {
          margin-bottom: 0;
        }

        input[type="checkbox"] {
          position: absolute;
          visibility: hidden;

          &:checked + .checkbox-indicator {
            border: 1px solid #1cb8ff;
            &::before {
              content: "";
              width: 10px;
              height: 9px;
              background-image: url("~/assets/checked.png");
              background-repeat: no-repeat;
            }
          }
        }
        .checkbox-indicator {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 18px;
          height: 18px;
          border: 1px solid #d5d7d8;
        }

        .checkbox-title {
          color: #4c505b;
          font-family: @raleway_font;
          font-size: 15px;
          font-weight: 400;
          margin-right: 7px;
          margin-left: 8px;
        }

        .bage {
          color: #a6a9af;
          font-family: "Open Sans";
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }
}

.content {
  width: 870px;
  display: flex;
  flex-wrap: wrap;

  .news {
    width: 270px;
    height: 318px;
    border: 1px solid #e9e9e9;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow 0.3s;
    cursor: pointer;

    &:nth-child(3n) {
      margin-right: 0px;
    }

    .news-top-block {
      position: relative;
      height: 180px;
      display: flex;
      align-items: flex-end;

      .news-photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .news-location {
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        line-height: 22px;
        position: relative;
        margin: 12px 22px;
        letter-spacing: 0.33px;
        z-index: 2;
        font-family: @raleway_font;
      }

      &:after, &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
      }
      &:before {
        height: 120px;
        background: -moz-linear-gradient(top, transparent 0%, fade(#000, 50) 100%);
        background: -webkit-linear-gradient(top, transparent 0%,fade(#000, 50) 100%);
        background: linear-gradient(to bottom, transparent 0%,fade(#000, 50) 100%);
        opacity: 1;
      }

      &:after {
        transition: opacity 0.3s;
        height: 100%;
        background: fade(#1cb8ff, 70);
        opacity: 0;
      }
    }

    .news-content-block {
      padding: 16px 19px;
      padding-bottom: 0;
      flex: 1;

      .news-title {
        color: #33363e;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.3px;
      }
    }

    .news-bottom-block {
      display: flex;
      justify-content: space-between;
      padding: 16px 20px;

      .news-categoty {
        font-size: 13px;
        font-weight: 500;
        line-height: 22px;
        font-family: @raleway_font;
      }

      .news-price {
        color: #282d3b;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
      }
    }

    &:hover {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

      .news-top-block {
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
    }
  }
}


@media screen and (max-width: 1365px) {
  .content {
    width: 570px;

    .news {
      &:nth-child(2n) {
        margin-right: 0px;
      }
      &:nth-child(3n) {
        margin-right: 30px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .content {
    width: 270px;
    margin-right: 0;

    .news {
      &:nth-child(3n) {
        margin-right: 0px;
      }
    }
  }
}

</style>

